doctype html
html
    head
        title='Horrible Website'
        link(href='../style.css', rel='stylesheet')
        link(href='../animate.css/animate.min.css' rel='stylesheet')
        script(src='../index.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    body
        div.horribleTitle-Alignment
            button.horribleTitle Horrible Website