doctype html
html
    head
        title='Horrible Website'
        link(href='../style.css', rel='stylesheet')
    body
        div.horribleTitle-Alignment
            button#horribleTitle(onclick="location.href='http://google.com';") Horrible Website