doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="../starwars.css")
    title='star wars'
body

  div(style="overflow:hidden; position:absolute; left:0; top:0; width:50px; height:25px;")
    div(style="margin-top:-290px;")
      object width="420" height="315")
        param(name="movie" value="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2")
        param(name="allowFullScreen" value="true")
        param(name="allowscriptaccess" value="always")
        embed(src="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true")

  p(id="start") A short time ago in a browser very, very close

  h1 STAR WARS

  div(id="titles")
    div(id="titlecontent")
      p(class="center") EPISODE IV 
      h1 A NEW HOPE FOR CSS3

      p It is the year 2018
      br
      p yes this is a paragraph
      iframe(style="visibility:hidden" width="560" height="315" src="https://www.youtube.com/embed/1KAOq7XX2OY" frameborder="0" allowfullscreen)
